body{
    background-color: black;
}
#box1{
    float: right;
    border: solid 2px rgb(20, 18, 18);
    border-radius: 15px;
    padding: 25px;
    padding-top: 0px;
    background-color: rgb(20, 18, 18);
}
img{
    width: 300px;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h4{
    display: inline;
}
.group1{
    text-decoration: none;
    color: rgb(109, 97, 97);
}
.group1:hover{
    text-decoration: underline;
    color: rgb(206, 211, 215);
}
#id1{
    text-decoration: none;
}
#id1:hover{
    text-decoration: underline;
    color: rgb(206, 211, 215);;
}